@import "tailwindcss";
@import "@fontsource-variable/plus-jakarta-sans/index.css";

:host, :root {
  /* Font */
  --font-sans: "Plus Jakarta Sans Variable", sans-serif;

  /* Colors */
  /* Primary text-textcolor (white) — used for titles and main content */
  --color-text: hsl(0 0% 100%);
  --color-text-dark: hsl(0 0% 0%);
  /* Muted text-textcolor (light gray ~ #B3B3B3) — used for descriptions, placeholders, or less important text-text*/
  --color-text-muted: hsl(0 0% 70.2%);
  /* Muted background color */
  --color-muted: hsl(0 0% 70.2%);
  /* Border color */
  --color-border: hsl(0 0% 29.8%);
  /* Muted text-textcolor (dark gray ~ #505050) — used for descriptions, placeholders, or less important text-text*/
  --color-text-muted-dark: hsl(0 0% 29.8%);
  /* Muted hover text-textcolor */
  --color-text-muted-hover:hsl(0 0% 80%);
  /* Card dark color */
  --color-card-dark: hsl(0 0% 6.3%);
  /* Card dark 2 color */
  --color-card-dark-2: hsl(0 0% 2.7%); 
  /* Card gradient: dark gray (#121212) -> slightly lighter gray (#272727) */
  --color-card-gradient: linear-gradient(0deg, hsl(0, 0%, 16%) 0%, hsl(0, 0%, 8%) 100%);
  --color-card-gradient2: linear-gradient(0deg, hsl(0, 0%, 10%) 0%, hsl(0, 0%, 3%) 100%);
  /* Card foreground color */
  --color-card-foreground: 	hsl(240, 8%, 7%);
  /* Card radius */
  --radius-card: 32px;
  /* Switch background color */
  --color-switch-background: hsl(0 0% 6.3%);
  /* Switch thumb color */
  --color-switch-thumb: hsl(0 0% 80%);
  /* Switch thump active color */
  --color-switch-background-active: hsl(0 0% 22%);
  /* Toast background color */
  --color-toast-background: hsl(0 0% 20%);
  /* Card border color */
  --color-border-card: hsla(0 0% 0% / 0.55);
  /* Radius card inner */
  --radius-card-inner: 24px;
  /* Card shadow */
  --color-shadow-card: 
    inset 0 4px 0px 0 rgba(119, 119, 119, 0.5);
  /* Button shadow */
  --color-shadow-button: 
    inset 0 1px 0px 0 rgba(119, 119, 119, 0.5);
  /* Button background color */
  --button-background: 	hsl(0, 0%, 20%);
  /* Button hover background color */
  --button-hover-background: hsl(0 0% 25%);
  /* Button dark background color */
  --button-dark-background: 	hsl(0, 0%, 11%);
  /* Button dark hover background color */
  --button-dark-hover-background: 	hsl(0, 0%, 15.6%);
  /* Button radius */
  --radius-button: 12px;
  /* Skeleton background color */
  --color-skeleton: hsl(227, 54%, 95%);
  /* Skeleton radius */
  --radius-skeleton: 12px;
  /* Input border color */
  --color-input-border: hsl(0 0% 22%);
  /* Input bg color */
  --color-input-background: hsl(0 0% 4.7%);
  /* Input radius */
  --radius-input: 12px;
  /* Danger color */
  --color-primary: hsl(217 91% 60.2%);
  /* Danger color */
  --color-danger: hsl(359 100% 65.1%);
  /* Warning color */
  --color-warning: hsl(34 100% 50%);
  /* Success color */
  --color-success: hsl(145 100% 39.2%);
}

@theme {
  /* Font */
  --font-sans: var(--font-sans);
  /* Colors */
  --color-text: var(--color-text);
  --color-text-dark: var(--color-text-dark);
  --color-text-muted: var(--color-text-muted);
  --color-text-muted-dark: var(--color-text-muted-dark);
  --color-border: var(--color-border);
  --color-muted: var(--color-muted);
  --color-card-dark: var(--color-card-dark);
  --color-card-dark-2: var(--color-card-dark-2);
  --color-card-foreground: var(--color-card-foreground);
  --color-card-1: var(--color-card-1);
  --color-card-2: var(--color-card-2);
  /* Switch */
  --color-switch-background: var(--color-switch-background);
  --color-switch-background-active: var(--color-switch-background-active);
  --color-switch-thumb: var(--color-switch-thumb);
  /* Button */
  --color-button: var(--button-background);
  --color-button-hover: var(--button-hover-background);
  --color-button-dark: var(--button-dark-background);
  --color-button-dark-hover: var(--button-dark-hover-background);
  /* Input */
  --color-input: var(--color-input-background);
  --color-input-border: var(--color-input-border);
  /* Semantic */
  --color-primary: var(--color-primary);
  --color-danger: var(--color-danger);
  --color-warning: var(--color-warning);
  --color-success: var(--color-success);
  /* Radii */
  --radius-card: var(--radius-card);
  --radius-card-inner: var(--radius-card-inner);
  --radius-input: var(--radius-input);
  --radius-button: var(--radius-button);
  /* Toast */
  --color-toast: var(--color-toast-background);
  /* Skeleton */
  --color-skeleton: var(--color-skeleton);
  --radius-skeleton: var(--radius-skeleton);
  /* Border */
  --color-border-card: var(--color-border-card);
}

@layer utilities {
  .bg-card-gradient {
    background-image: var(--color-card-gradient);
  }
  .bg-card-gradient2 {
    background-image: var(--color-card-gradient2);
  }
  .shadow-card {
    box-shadow: var(--color-shadow-card);
  }
  .shadow-button {
    box-shadow: var(--color-shadow-button);
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
