@import "tailwindcss";
@import "@fontsource-variable/plus-jakarta-sans/index.css";

:host,
:root {
  /* Font */
  --font-sans: "Plus Jakarta Sans Variable", sans-serif;

  /* Colors */
  /* Primary text-textcolor (white) — used for titles and main content */
  --color-text: hsl(0 0% 100%);
  --color-text-dark: hsl(0 0% 0%);
  /* Muted text-textcolor (light gray ~ #B3B3B3) — used for descriptions, placeholders, or less important text-text*/
  --color-text-muted: hsl(0 0% 70.2%);
  /* Muted background color */
  --color-muted: hsl(0 0% 70.2%);
  /* Border color */
  --border: hsl(0 0% 29.8%);
  /* Muted text color (dark gray ~ #505050) — used for descriptions, placeholders, or less important text */
  --text-muted-dark: hsl(0 0% 29.8%);
  /* Muted hover text color */
  --text-muted-hover: hsl(0 0% 80%);
  /* Card dark color */
  --color-card-dark: hsl(0 0% 6.3%);
  /* Card dark 2 color */
  --card-dark-2: hsl(0 0% 2.7%);
  /* Card gradient: dark gray (#121212) -> slightly lighter gray (#272727) */
  --card-gradient: linear-gradient(
    0deg,
    hsl(0, 0%, 16%) 0%,
    hsl(0, 0%, 8%) 100%
  );
  --card-gradient2: linear-gradient(
    0deg,
    hsl(0, 0%, 10%) 0%,
    hsl(0, 0%, 3%) 100%
  );
  /* Card foreground color */
  --card-foreground: hsl(240, 8%, 7%);
  /* Card radius */
  --radius-card: 32px;
  /* Switch background color */
  --color-switch-background: hsl(0 0% 6.3%);
  /* Switch thumb color */
  --color-switch-thumb: hsl(0 0% 80%);
  /* Switch thump active color */
  --color-switch-background-active: hsl(0 0% 22%);
  /* Toast background color */
  --color-toast-background: hsl(0 0% 20%);
  /* Card border color */
  --color-border-card: hsla(0 0% 0% / 0.55);
  /* Radius card inner */
  --radius-card-inner: 24px;
  /* Card shadow */
  --card-shadow: inset 0 4px 0px 0 rgba(119, 119, 119, 0.5);
  /* Button shadow */
  --button-shadow: inset 0 1px 0px 0 rgba(119, 119, 119, 0.5);
  /* Button background color */
  --button-background: hsl(0, 0%, 20%);
  /* Button hover background color */
  --button-hover-background: hsl(0 0% 25%);
  /* Button dark background color */
  --button-dark-background: hsl(0, 0%, 11%);
  /* Button dark hover background color */
  --button-dark-hover-background: hsl(0, 0%, 15.6%);
  /* Button radius */
  --radius-button: 12px;
  /* Skeleton background color */
  --color-skeleton: hsl(227, 54%, 95%);
  /* Skeleton radius */
  --radius-skeleton: 12px;
  /* Input border color */
  --color-input-border: hsl(0 0% 22%);
  /* Input bg color */
  --color-input-background: hsl(0 0% 4.7%);
  /* Input radius */
  --radius-input: 12px;
  /* Danger color */
  --color-primary: hsl(217 91% 60.2%);
  /* Danger color */
  --color-danger: hsl(359 100% 65.1%);
  /* Warning color */
  --color-warning: hsl(34 100% 50%);
  /* Success color */
  --color-success: hsl(145 100% 39.2%);
  /* Input ring color */
  --color-input-ring: hsl(0 0% 22%);
  /* Bullish color */
  --color-bullish: hsl(174 63% 40%);
  /* Bearish color */
  --color-bearish: hsl(1 83% 63%);
  /* Bullish hover color */
  --color-bullish-hover: hsl(174 55% 48%);
  /* Bearish hover color */
  --color-bearish-hover: hsl(1 70% 70%);
  /* Popover color */
  --color-popover: hsl(0 0% 10%);
  /* Popover foreground color */
  --color-popover-foreground: hsl(0 0% 100%);
}

@theme {
  /* Font */
  --font-sans: var(--font-sans);
  /* Colors */
  --color-text: var(--text);
  --color-text-dark: var(--text-dark);
  --color-text-muted: var(--text-muted);
  --color-text-muted-dark: var(--text-muted-dark);
  --color-border: var(--border);
  --color-muted: var(--bg-muted);
  --color-card-dark: var(--card-dark);
  --color-card-dark-2: var(--card-dark-2);
  --color-card-foreground: var(--card-foreground);
  --color-card-1: var(--bg-card-1);
  --color-card-2: var(--bg-card-2);

  /* Switch */
  --color-switch-background: var(--color-switch-background);
  --color-switch-background-active: var(--color-switch-background-active);
  --color-switch-thumb: var(--color-switch-thumb);
  /* Button */
  --color-button: var(--button-background);
  --color-button-hover: var(--button-hover-background);
  --color-button-dark: var(--button-dark-background);
  --color-button-dark-hover: var(--button-dark-hover-background);
  /* Input */
  --color-input: var(--color-input-background);
  --color-input-border: var(--color-input-border);
  --color-input-ring: var(--color-input-ring);
  /* Semantic */
  --color-primary: var(--primary);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);

  /* Radii */
  --radius-card: var(--radius-card);
  --radius-card-inner: var(--radius-card-inner);
  --radius-input: var(--radius-input);
  --radius-button: var(--radius-button);
  /* Toast */
  --color-toast: var(--color-toast-background);
  /* Skeleton */
  --color-skeleton: var(--color-skeleton);
  --radius-skeleton: var(--radius-skeleton);
  /* Border */
  --color-border-card: var(--color-border-card);

  /* Colors */
  --color-bullish: var(--color-bullish);
  --color-bearish: var(--color-bearish);
  --color-bullish-hover: var(--color-bullish-hover);
  --color-bearish-hover: var(--color-bearish-hover);
  /* Popover */
  --color-popover: var(--color-popover);
  --color-popover-foreground: var(--color-popover-foreground);
}

@layer utilities {
  .bg-card-gradient {
    background-image: var(--color-card-gradient);
  }
  .bg-card-gradient2 {
    background-image: var(--color-card-gradient2);
  }
  .shadow-card {
    box-shadow: var(--color-shadow-card);
  }
  .shadow-button {
    box-shadow: var(--button-shadow);
  }
  .bg-button {
    background-color: var(--button-background);
  }
  .bg-button:hover {
    background-color: var(--button-hover-background);
  }
  .bg-button-nohover {
    background-color: var(--button-background) !important;
  }
  .bg-button-hover {
    background-color: var(--button-hover-background) !important;
  }
  .bg-button-dark {
    background-color: var(--button-dark-background);
  }
  .bg-button-dark:hover {
    background-color: var(--button-dark-hover-background);
  }
  .bg-button-dark-nohover {
    background-color: var(--button-dark-background) !important;
  }
  .bg-toast {
    background-color: var(--toast-background) !important;
  }
  .radius-button {
    border-radius: var(--button-radius);
  }
  .border-input {
    border: 1px solid var(--input-border);
  }
  .bg-input {
    background-color: var(--input-background);
  }
  .radius-input {
    border-radius: var(--input-radius);
  }
  .text-danger {
    color: var(--danger);
  }
  .text-warning {
    color: var(--warning);
  }
  .text-success {
    color: var(--success);
  }
  .border-danger {
    border-color: color-mix(in srgb, var(--danger) 40%, transparent);
  }
  .text-muted-dark {
    color: var(--text-muted-dark);
  }
  .bg-card-dark {
    background-color: var(--card-dark);
  }
  .bg-card-dark-2 {
    background-color: var(--card-dark-2);
  }
  .radius-card-inner {
    border-radius: var(--card-radius-inner);
  }
  .bg-card-1 {
    background-color: var(--bg-card-1);
  }
  .bg-card-2 {
    background-color: var(--bg-card-2);
  }
  .ring-border {
    border: 1px solid var(--border);
  }
  .bg-muted {
    background-color: var(--bg-muted);
  }
  .bg-switch-background {
    background-color: var(--bg-switch-background);
  }
  .bg-switch-background-active {
    background-color: var(--bg-switch-background-active);
  }
  .bg-switch-thumb {
    background-color: var(--bg-switch-thumb);
  }
  .bg-primary {
    background-color: var(--primary);
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
